/*************************/
/* Effect: language bottom line slides/fades in */
/*************************/

#language-setting span::after {
    position: relative;
    display: block;
    margin-top: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, background 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s, background 0.3s;
    transition: opacity 0.3s, transform 0.3s, background 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
#language-setting span:hover::after, #language-setting span:active::after #language-setting span:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/*************************/
/* FLip X */
/*************************/

.flip-init {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
}
.fxFlipInX {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    -ms-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
        -ms-transform: perspective(400px) rotateX(-10deg);
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        -ms-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-ms-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
        -ms-transform: perspective(400px) rotateX(-10deg);
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        -ms-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
        -ms-transform: perspective(400px) rotateX(-10deg);
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        -ms-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
/*************************/
/* Fade In */
/*************************/

.animation-init {
    opacity: 0;
    -webkit-transform: translateY(200px) scale(1.2);
    transform: translateY(200px) scale(1.2);
}
.animate-in {
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}
@-webkit-keyframes moveUp {
    0% {} 100% {
        -webkit-transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes moveUp {
    0% {} 100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}


/*************************/
/* Soft Scale */
/*************************/

.fxSoftScale .navOutNext {
    -webkit-animation: scaleUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.fxSoftScale .navInNext {
    -webkit-animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.fxSoftScale .navOutPrev {
    -webkit-animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.fxSoftScale .navInPrev {
    -webkit-animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes scaleUp {
    from {}
    /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    
    to {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}
@keyframes scaleUp {
    from {}
    /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}
@-webkit-keyframes scaleDownUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@keyframes scaleDownUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes scaleDown {
    from {}
    /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
}
@keyframes scaleDown {
    from {}
    /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@-webkit-keyframes scaleUpDown {
    from {
        -webkit-transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@keyframes scaleUpDown {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
