html * {margin: 0; padding: 0; font-size: 1rem; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 200;}

body {background: #dddddd; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;}

.large-header {position: absolute; width: 100%; overflow: hidden; background: black; z-index: 2;}
.header-caption {position: absolute; right: 0; bottom: 0; color: rgba(255,255,255,0.5); padding: 10px; font-size: .825rem; z-index: 5;}
.header-skipper {position: absolute; cursor: pointer; width: 120px; text-align: center; color: white; padding: 10px; bottom: 75px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); z-index: 5;}
.header-skipper .arrow-down {position: absolute; bottom: -35px; width: 50px; height: 50px; border-bottom: 1px solid white; border-right: 1px solid white; left: 50%; transform: translateX(-50%) rotate(45deg); -webkit-transform: translateX(-50%) rotate(45deg);}

#language-setting {position: fixed; top: 20px; right: 20px; z-index: 10; text-align: right;}
#language-setting a {color: white; text-decoration: none; font-size: 2rem; cursor: pointer;}
#language-setting span {display: block; cursor: pointer; color: white; margin-top: 5px; opacity: 0; pointer-events: none; transform: translateX(50%);}
#language-setting span.language-selected {font-weight: 600;}

#language-setting {transition: top .3s;}
#language-setting span:first-of-type {transition: transform .3s ease, opacity .3s ease;}
#language-setting span:last-of-type {transition: transform .3s ease .1s, opacity .3s ease .1s;}


#language-setting.language-select {top: -30px;}
#language-setting.language-select span {opacity: 1; pointer-events: auto; transform: translateX(0);}

#header-canvas {position: absolute; z-index: 3;}
.image-wrap {position: absolute; width: 100%; height: 100%; z-index: 1;}
.image-wrap li {width: 100%; height: 100%; position: absolute; overflow: hidden; opacity: 0; opacity: 0; -webkit-transition: opacity 3s; transition: opacity 3s;}
.image-wrap li.current {opacity: 1;}
.image-wrap li img {position: absolute; left: 50%; max-height: 100%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
@media (min-aspect-ratio: 3/2) { 
  .image-wrap li img {max-width: 100%; height: auto; max-height: none;}
}

header {position: absolute; width: 100%; height: 5rem; top: 50%; text-align: center; transform: translateY(-150%); -webkit-transform: translateY(-150%); z-index: 5;}
header #fuchsvomwalde-logo {width: 40vw;}
header #headertitle span {color: rgba(255,255,255,1); font-weight: 600; font-size: 5vw; text-transform: uppercase; letter-spacing: 0.1rem; }
header #headertitle span.thin {font-weight: 200; font-size: 5vw; white-space: nowrap;}
header #subtitle p {font-weight: 400; font-size: 2vw; color: #fff;}
@media (max-width: 800px) { 
  header #headertitle span {font-size: 8vw;}
  header #headertitle span.thin {font-size: 8vw;}
  header #subtitle p {font-size: 3vw;}
} 
.btn-bar {max-width: 100%; width: 70vw; margin: 0 auto; list-style: none; padding-top: 2rem; text-align: center;}
.btn-wrapper {width: 40px; height: 40px; margin: 10px; border: 2px solid white; border-radius: 25px; background: rgba(0,0,0,.6); transition: background .3s; display: inline-block; position: relative; text-align: -webkit-match-parent; cursor: pointer;}
.btn-wrapper a {font-size: 1.5rem; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); display: block; text-align: center; text-decoration: none; color: white; transition: color .3s;}
.btn-wrapper:hover, .btn-wrapper:active {background: white;}
.btn-wrapper:hover a, .btn-wrapper:active a {color: black;}
.icon-github, .icon-linkedin {margin-left: 4px;}
.icon-eyeem, .icon-pixel {font-weight: 800;}
a.icon-pixel {font-size: 1.3rem; letter-spacing: -0.2rem; margin-top: -4px; margin-left: -1px;}
@media (min-width: 800px) { 
  .btn-wrapper {width: 60px; height: 60px; margin: 15px; border: 2px solid white; border-radius: 35px;}
  .btn-wrapper a {font-size: 2rem;}
  .icon-github, .icon-linkedin {margin-left: 5px;}
  .icon-eyeem, .icon-pixel {font-weight: 800; margin-top: -3px; margin-left: -2px;}
  a.icon-pixel {font-size: 2rem; letter-spacing: -0.3rem;}
}
